In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from scipy import stats
from statsmodels.stats import multicomp

In [9]:
labels = np.random.choice(['A', 'B'], 100)
types = np.random.choice(['X', 'Y'], 100)
types

array(['X', 'Y', 'Y', 'Y', 'X', 'X', 'Y', 'X', 'Y', 'X', 'X', 'Y', 'X',
       'Y', 'X', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'X', 'Y', 'Y', 'Y', 'X',
       'Y', 'Y', 'X', 'Y', 'X', 'X', 'X', 'Y', 'X', 'Y', 'X', 'Y', 'Y',
       'X', 'X', 'X', 'Y', 'X', 'X', 'X', 'Y', 'Y', 'X', 'X', 'Y', 'X',
       'X', 'X', 'X', 'X', 'X', 'Y', 'Y', 'X', 'Y', 'X', 'Y', 'Y', 'Y',
       'Y', 'X', 'Y', 'X', 'Y', 'X', 'Y', 'Y', 'Y', 'Y', 'X', 'X', 'X',
       'Y', 'X', 'Y', 'X', 'X', 'Y', 'Y', 'X', 'Y', 'X', 'X', 'X', 'Y',
       'Y', 'X', 'Y', 'X', 'X', 'Y', 'Y', 'Y', 'Y'], dtype='<U1')

In [12]:
xa = np.random.normal(2, 1, 100)
xb = np.random.normal(3, 1, 100)
xc = xa + xb
xc

array([6.1525883 , 6.27477525, 6.85566214, 5.4304898 , 2.5660382 ,
       4.64570616, 4.93471864, 5.83772585, 7.34878728, 3.97075073,
       6.76217162, 3.12717795, 5.56067394, 6.30263946, 4.00037669,
       6.99112122, 4.61569984, 3.76117628, 4.65404759, 4.01296768,
       5.81763609, 7.15543791, 3.90471287, 6.31170095, 7.12580371,
       8.63255499, 3.45525651, 5.86735347, 3.07973218, 3.61623435,
       2.9491975 , 5.81863917, 6.30872027, 8.17297064, 4.65790867,
       3.74768256, 3.39053534, 5.6321279 , 7.70805032, 4.57241052,
       5.73259938, 4.61602342, 3.8633846 , 6.20719498, 6.9789154 ,
       5.13051119, 7.11649726, 5.18388657, 4.62658354, 5.55965152,
       2.85728238, 5.11877814, 3.42383056, 5.6072425 , 5.71341181,
       3.63362279, 4.0230614 , 5.50461721, 4.78773745, 5.64905587,
       5.65176864, 5.29953371, 4.91423706, 4.81631293, 6.55228521,
       3.60730976, 5.15728196, 5.7107343 , 5.65996442, 4.20277319,
       6.76563301, 4.58087887, 3.32387784, 4.4965304 , 3.67627148,
       6.4567334 , 5.54971821, 4.6542481 , 5.26913089, 5.87944676,
       4.1136483 , 3.87666328, 6.63908365, 4.32551345, 4.54699199,
       5.0165586 , 5.5179564 , 6.54360275, 3.65386338, 5.6155863 ,
       1.90348014, 5.34716033, 6.63241497, 2.46106838, 5.44952684,
       6.16955097, 5.14591132, 5.68157989, 4.32116095, 4.38283179])

In [18]:
df = pd.DataFrame({
    'label': labels,
    'type': types,
    'xa': xa,
    'xb': xb,
    'xc': xc,
    'intercept': 1
})
df_melt = pd.melt(df[['xa', 'xb', 'xc']])
by_label = df.pivot('xa', 'label', 'xb')
print(df)
print(df_melt)
print(by_label)
by_label

   label type        xa        xb        xc  intercept
0      A    X  3.646120  2.506468  6.152588          1
1      A    Y  1.715160  4.559615  6.274775          1
2      B    Y  2.427887  4.427775  6.855662          1
3      A    Y  2.090512  3.339978  5.430490          1
4      A    X -0.370941  2.936979  2.566038          1
..   ...  ...       ...       ...       ...        ...
95     A    X  1.814301  4.355250  6.169551          1
96     B    Y  2.660192  2.485719  5.145911          1
97     A    Y  2.748130  2.933450  5.681580          1
98     B    Y  2.493891  1.827270  4.321161          1
99     B    Y  1.697849  2.684982  4.382832          1

[100 rows x 6 columns]
    variable     value
0         xa  3.646120
1         xa  1.715160
2         xa  2.427887
3         xa  2.090512
4         xa -0.370941
..       ...       ...
295       xc  6.169551
296       xc  5.145911
297       xc  5.681580
298       xc  4.321161
299       xc  4.382832

[300 rows x 2 columns]
label             A         B
xa
-0.775372  3.855104       NaN
-0.606804  3.556001       NaN
-0.370941  2.936979       NaN
 0.152488  2.974690       NaN
 0.254507  3.200750       NaN
...             ...       ...
 3.821036  4.811519       NaN
 3.989397       NaN  1.310137
 4.135387  3.213400       NaN
 4.248929  2.729986       NaN
 4.704924  3.468047       NaN

[100 rows x 2 columns]

label             A         B
xa
-0.775372  3.855104       NaN
-0.606804  3.556001       NaN
-0.370941  2.936979       NaN
 0.152488  2.974690       NaN
 0.254507  3.200750       NaN
...             ...       ...
 3.821036  4.811519       NaN
 3.989397       NaN  1.310137
 4.135387  3.213400       NaN
 4.248929  2.729986       NaN
 4.704924  3.468047       NaN

[100 rows x 2 columns]

In [5]:
print(stats.ttest_ind(xa, xb).pvalue)
print(stats.normaltest(xa).pvalue)
print(stats.levene(xa, xb).pvalue)
print(stats.mannwhitneyu(xa, xb).pvalue)
print(stats.f_oneway(xa, xb, xc).pvalue)
tukey = multicomp.pairwise_tukeyhsd(
    df_melt['value'], df_melt['variable'],
    alpha=0.05
)
print(tukey)

7.97633800802827e-13
0.09793820967349494
0.07918513805472271
1.9820864679075237e-12
1.2564080898453348e-48
Multiple Comparison of Means - Tukey HSD, FWER=0.05
=================================================
group1 group2 meandiff p-adj lower  upper  reject
-------------------------------------------------
    xa     xb    1.165   0.0 0.7724 1.5575   True
    xa     xc   2.9901  -0.0 2.5976 3.3826   True
    xb     xc   1.8251  -0.0 1.4326 2.2177   True
-------------------------------------------------

In [20]:
contingency = pd.crosstab(labels, types)
c,p,d,e = stats.chi2_contingency(contingency)
print(contingency)
print(p)

col_0   X   Y
row_0
A      28  26
B      20  26
0.5257284742523927

In [7]:
reg = stats.linregress(xc, xa)
print(reg.slope, reg.intercept)
print(reg.pvalue, reg.rvalue)

0.3634918511121282 0.0748430768816275
2.7691692843351466e-08 0.5208663214554708