In [12]:
import numpy as np
import pandas as pd
import time
import random
from implementations import all_implementations

/var/folders/7f/v_mw33x560nbq_t1blt1mc9m0000gn/T/ipykernel_30835/2833554998.py:3: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  col = pd.Series()

In [ ]:
for i in range(500):
    row = []
    for sort in all_implementations:
        st = time.time()
        res = sort(random_array)
        en = time.time()

In [26]:
random_array = np.random.randint(-100, 100, 100)
datas = []
for i in range(100):
    row = []
    for sort in all_implementations:
        st = time.time()
        res = sort(random_array)
        en = time.time()
        row.append(en-st)
        
    datas.append(row)

In [29]:
data = pd.DataFrame(datas, columns=['qs1', 'qs2', 'qs3', 'qs4', 'qs5', 'merge1', 'partition_sort'])

data

         qs1       qs2       qs3       qs4       qs5    merge1  partition_sort
0   0.006055  0.004237  0.001308  0.001213  0.000684  0.000627        0.000636
1   0.001216  0.004716  0.002021  0.001353  0.000779  0.000631        0.000593
2   0.000782  0.000853  0.001910  0.001130  0.000694  0.000625        0.002424
3   0.002856  0.000827  0.000787  0.001394  0.000598  0.000625        0.000589
4   0.000993  0.000949  0.001070  0.000643  0.000615  0.009211        0.011081
..       ...       ...       ...       ...       ...       ...             ...
95  0.000738  0.000749  0.000727  0.000551  0.000626  0.000538        0.000506
96  0.000618  0.000940  0.001042  0.000534  0.000529  0.000539        0.000510
97  0.000719  0.000827  0.000629  0.000562  0.000627  0.000540        0.000508
98  0.000671  0.000741  0.000775  0.000575  0.000524  0.000541        0.000506
99  0.000725  0.000861  0.000840  0.000529  0.000611  0.000540        0.000506

[100 rows x 7 columns]

         qs1       qs2       qs3       qs4       qs5    merge1  partition_sort
0   0.006055  0.004237  0.001308  0.001213  0.000684  0.000627        0.000636
1   0.001216  0.004716  0.002021  0.001353  0.000779  0.000631        0.000593
2   0.000782  0.000853  0.001910  0.001130  0.000694  0.000625        0.002424
3   0.002856  0.000827  0.000787  0.001394  0.000598  0.000625        0.000589
4   0.000993  0.000949  0.001070  0.000643  0.000615  0.009211        0.011081
..       ...       ...       ...       ...       ...       ...             ...
95  0.000738  0.000749  0.000727  0.000551  0.000626  0.000538        0.000506
96  0.000618  0.000940  0.001042  0.000534  0.000529  0.000539        0.000510
97  0.000719  0.000827  0.000629  0.000562  0.000627  0.000540        0.000508
98  0.000671  0.000741  0.000775  0.000575  0.000524  0.000541        0.000506
99  0.000725  0.000861  0.000840  0.000529  0.000611  0.000540        0.000506

[100 rows x 7 columns]